/**=====================
    Lazy Load css Start
==========================**/
.blur-up {
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;

    &.lazyloaded {
        filter: blur(0);
    }
}


.brand-list {
    list-style-type: none;
    padding: 0;
  }
  
  .brand-list li {
    margin: 5px 0;
    border: 3px solid transparent; /* Initially, no border */
  }
  
  .brand-list li.selected {
    border: 3px solid #000; /* Add border when selected */
  }
  
  .brand-list li a {
    text-decoration: none;
    color: #333;
  }
  