/**=====================
     tab css start
==========================**/
.tab-wrap {
    .nav-tabs {
        justify-content: center;
        border-bottom: 2px solid $demo1-bg;

        [class="dark"] & {
            border-bottom-color: #383838;
        }

        @include mq-max(lg) {
            display: -webkit-box;
            justify-content: center;
            flex-wrap: inherit;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

        .nav-link {
            font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1;
            color: $font-light;
            padding: 0 20px 20px;
            background: transparent;
            border: none;
            border-bottom: 4px solid transparent;
            text-transform: capitalize;

            [class="dark"] & {
                color: #bababa;
            }

            @include mq-max(lg) {
                padding: 0 10px 15px;
            }

            &:hover,
            &:active,
            &:focus {
                border: none;
            }

            &.active,
            &:active {
                border-bottom: 4px solid #FF8400;
                color: $black1;

                [class="dark"] & {
                    color: #efefef;
                }
            }
        }
    }

    .tab-content {
        margin-top: 30px;
    }
}