.Background {
    // background-image: url('/allindustrialsolution.jpg');
    background-color: rgba(228, 215, 215, 0.934);
    height: 500px;
    width: 100%;

}

.headingstyle {
    text-align: center;
    text-transform: uppercase;
    color: #ff8400;
    font-weight: normal;
    font-size: 40px;
}

.macard {
    background-color: #f5f5f5;
    border: 1px solid gray;
    border-radius: 4px;
    height: 250px;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
}